body{
  margin: 0 ;
  padding: 0;
  font-family: sans-serif,Helvetica, Arial;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  background: #fff;
}

/* inicio  conteudo principal */
#Home p{
	font-family:Constantia;
}

section{
  background: #fff;
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  z-index:10;
}

section .content{
  text-align: center;
  width: 100%;
}

section .content h2{
  font-size: 15vw;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1em;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-attachment: fixed;
  background-size:  5em;
  margin-bottom: 100px;
}

section:nth-child(3) .content h2{
  background-image: url(../_css/imagem/row-of-young-adults-at-work.jpg) ;
}

section:nth-child(4) .content h2{
  background-image: url(../_css/imagem/business-team-meeting-boardroom.jpg);
}

section:nth-child(5) .content h2{
  background-image: url(../_css/imagem/teamwork-makes-the-dream-work.jpg);
}

section:nth-child(6) .content h2{
  background-image: url(../_css/imagem/man-talking-on-cellphone.jpg);
}

section .content p{
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 1 ;
}

section .content a{
  display: inline-block;
  padding:  10px 20px;
  border:  2px solid rgb(122, 185, 28);
  text-decoration: none;
  color: rgb(122, 185, 28);
  margin-top:20px ;
  transition:  .5s;
}

section .content a:hover{
  background-color:rgb(122, 185, 28);
  color:  #fff;
  transition: .5s;
}

#enviar{
  display: inline-block;
  padding:  10px 20px;
  border:  2px solid rgb(122, 185, 28);
  text-decoration: none;
  color: rgb(122, 185, 28);
  background-color: #fff;
  margin-top:20px ;
  transition:  .5s;
}

#enviar:hover{
  background-color:rgb(122, 185, 28);
  color:  #fff;
  transition: .5s;
}

section::after, section::before {
	content: '';
	display: table;
	clear: both;
}

/* Animação Water Effect CSS */
.slider{
  width: 100%;
  height: 100vh;
  background: url(../_css/imagem/background.jpg) 50% 50% ;
  margin: 0;
  padding: 0;
  background-size: cover;
  position: relative;
  z-index: 2;
}

.slider img{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.slider p{
  text-align: center;
  color: #fff;
  text-shadow: black;
  font-size: 500%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

}

/* Animação de Transição de Texto */

.anime {
	opacity: 0;
	transform: translate3d(-100px,0,0);
	transition: .3s;
}

.anime-start {
	opacity: 1;
	transform: translate3d(0,0,0);
}

#margin400px{
  margin-bottom: 400px;
}

ul{
  margin-left: -37px;
  margin-right: 0;
}


.formulario input{

  width:  25%;
  height: 20%;
  clear: both;
  margin: 5px;
  box-sizing: border-box;
  border: solid 3px rgb(122, 185, 28);
  outline: none;
}


.formulario select {
  width:  25%;
  height: 50%;
  clear: both;
  margin: 5px;
  box-sizing: border-box;
  border: solid 3px rgb(122, 185, 28);
  outline: none;
}

.formulario textarea{
  box-sizing: border-box;
  border: solid 3px rgb(122, 185, 28);
  outline: none;
}


input[type=text] {
  height: 30px;
  }

  input[type=submit]{
    outline: none;
  }

input[type=email] {
  height: 30px;
  }

  select option{
    height: 50px;
  }

 

  


















