/* Mobile-menu*/
@media (max-width:991px){
    header{
        padding:  0 20px;
        background-color: #333;

    }

    .menu-toggle{
        display: block;
    }

    header nav{
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top:50px;
        left: -100%;
        transition:0.5s
    }

    

    header nav.active{
        left: 0;
    }

    header nav ul{
        display: block;
        text-align: center;    
    }

    header nav ul li {
        border-bottom: 1px solid rgba(0,0,0,.2);
    }

}

/* Mobile-footer */

@media (max-width:991px){
    .main-content{
      flex-wrap: wrap;
      margin: auto;
      justify-content: start;
      margin-top: 0;
  
    } 
  
    .slider p{
      text-align: center;
      color: #fff;
      text-shadow: black;
      font-size: 319%;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    
    }
    
    footer ul li a {
        width: 40px;
        height: 40px;
        background: #fff;
        text-decoration: #fff;
        text-align: center;
        line-height: 40px;
        border-radius:100% ;
        right: 120%;
        margin-bottom: 30px;
       
      }
    

    footer{
      height: 800px;
    }
  
    .right{
      margin-top: 0;
      margin: 0;
    }
  
    footer ul{
      left: 30%;
      margin-bottom: 30px;
    }
  
    h2{
      padding: 10px 0;
    }
  
    
    .footer-bottom{
      clear: both;
      flex-wrap: wrap;
    }
  
    footer ul li a {
      width: 40px;
      height: 40px;
      background: #fff;
      text-decoration: #fff;
      text-align: center;
      line-height: 40px;
      border-radius:100% ;
      right: -40%;
      margin-bottom: 30px;
     
    }
  
    footer ul li a:hover .fa{
      color: #fff;
      transform: rotateY(360deg);
      z-index: 3;
  
    }
    
     footer ul li a:before{
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      background: #f00;
      transition: .5s;
      z-index: 2;
    }
  
    canvas{
      width: 100%;
      position: fixed;

    }

      
.formulario input{

  width:  80%;
  height: 20%;
  clear: both;
  margin: 5px;
  box-sizing: border-box;
  border: solid 3px rgb(122, 185, 28);
}


.formulario select {
  width:  80%;
  height: 50%;
  clear: both;
  margin: 5px;
  box-sizing: border-box;
  border: solid 3px rgb(122, 185, 28);
}

.formulario textarea{
  box-sizing: border-box;
  border: solid 3px rgb(122, 185, 28);
}


input[type=text] {
  height: 30px;
  }

input[type=email] {
  height: 30px;
  }

  select [option]{
    height: 50px;
  }

}
    
  

